h1{
    color: white;
    background-color: black;
    padding: 5px;
}

h2{
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    padding: 5px;
}

h3{
    color: black;
    background-color: cornflowerblue;
    text-align: right;
    font-weight: lighter;
    font-style: normal;
    text-decoration: underline;
    padding: 5px;
}

